body {
  font-family: Arial, sans-serif;
}

.logo img {
  max-width: 200px;
  margin: 10px auto;
  display: block;
}

.btn-enviar {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  transition: 0.3s ease;
}

.btn-enviar:hover {
  background-color: #0056b3;
}

/* Estilo responsive para los botones del navbar */
@media (max-width: 991px) {
  .navbar .btn {
    width: 100%;
    margin-bottom: 5px;
  }

  .navbar .d-flex {
    flex-direction: column;
    width: 100%;
  }
}